<div id="header">
    <%= image_tag "logo.png", :class => "logo" %>
    <span class="main-title"><%= link_to @spec.name, specs_res_url( {
                        :serie => @spec.spec_serie.index } ), :title => "#{@spec.spec_serie.index} Series" %></span><br />
    <span class="sub-title"><%= @spec.title %></span>
</div>
<div id="nav">
  <span class="left-arrow">
    <%= link_to ('<span class="v_v">v</span><span class="v_release">' + @version.editorial.to_s + '</span>.' + @version.major.to_s + '.' + @version.technical.to_s).html_safe, specs_res_url( {
                        :serie => @spec.spec_serie.index,
                        :spec => @spec.name.gsub('.','_') } ) %>
  </span>
  <form onsubmit="return false">
    <% if !@doc_html.nil? %>
      <input id="page_jump" type="text" value="1" class="form-text" /> / <span id="page_count"><%= @doc_pdf.nb_pages %></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= select_tag 'page_toc', options_from_collection_for_select(@doc_pdf.document_tocs, 'page', 'title') %>
    <% end %>
  </form>
</div>
<div id="body">
  <div id="sidebar">
    <% for format in [:html, :pdf, :doc] %>
        <div class="icon">
            <% if @version.has_format? format %>
                <%= file = @version.get_file format
                    link_to image_tag("icon-#{format}.png"), specs_res_url( {
                        :serie => @spec.spec_serie.index,
                        :spec => @spec.name.gsub('.','_'),
                        :version => @version.version.gsub('.','_'),
                        :format => file.format } ) %>
            <% else %>
                <%= link_to image_tag("icon-#{format}-gray.png"), specs_res_url( {
                        :serie => @spec.spec_serie.index,
                        :spec => @spec.name.gsub('.','_'),
                        :version => @version.version.gsub('.','_'),
                        :format => format } ) %>
            <% end %>
        </div>
    <% end %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>