<div class="block data-block">
    <h4><%= @spec.name %>: <i><%= @spec.title %></i></h4>
    <h5><%= link_to "Info Page @ 3GPP", @spec.info_page_url %></h5>
    <table class="data-table">
        <% last_rel = 0 %>
        <% for vers in @spec.document_versions.order(id: :desc) %>
            <% if last_rel < vers.editorial %>
                <% last_rel = vers.editorial %>
                <tr class="sub-header"><td colspan="4"><%= vers.release.name %></td></tr>
            <% end %>
            <tr>
                <td><%= link_to vers.version, specs_res_url( {
                    :serie => @spec.spec_serie.index,
                    :spec => @spec.name.gsub('.','_'),
                    :version => vers.version.gsub('.','_') } ) %>
                </td>
                <% for format in [:html, :pdf, :doc] %>
                    <td class="icon-link">
                        <% if vers.has_format? format %>
                            <%= file = vers.get_file format
                                link_to image_tag("icon-#{format}.png"), specs_res_url( {
                                    :serie => @spec.spec_serie.index,
                                    :spec => @spec.name.gsub('.','_'),
                                    :version => vers.version.gsub('.','_'),
                                    :format => file.format } ) %>
                        <% else %>
                            <%= link_to image_tag("icon-#{format}-gray.png"), specs_res_url( {
                                    :serie => @spec.spec_serie.index,
                                    :spec => @spec.name.gsub('.','_'),
                                    :version => vers.version.gsub('.','_'),
                                    :format => format } ) %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
