<div id="header">
    <%= image_tag "logo.png", :class => "logo" %>
    <span class="main-title"><%= @main_title %></span><br />
    <span class="sub-title"><%= @sub_title %></span>
</div>
<div id="nav">
  <span class="left-arrow">
    <%= @left_title %>
  </span>
  <nav class="breadcrumb">
    <% @navs.each do |entry| %>
      <%= link_to entry[:name], entry[:link] %> /
    <% end %>
    <strong><%= @page_name %></strong>
  </nav>
</div>
<div id="body">
  <div id="sidebar">
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>