<div id="header">
    <%= image_tag "logo.png", :class => "logo" %>
    <span class="main-title"><%= @main_title %></span><br />
    <span class="sub-title"><%= @sub_title %></span>
</div>
<div id="nav">
  <span class="left-arrow">
    <%= @left_title %>
  </span>
  <%= @page_title %>
</div>
<div id="body">
  <div id="sidebar">
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>