<div id="header">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", :class => "logo" %>
    <% end %>
    <span class="main-title"><%= @main_title %></span><br />
    <span class="sub-title"><%= @sub_title %></span>
</div>
<div id="nav">
  <span class="left-arrow">
    <%= @left_title %>
  </span>
  <nav class="breadcrumb">
    <% @navs.each do |entry| %>
      <%= link_to entry[:name], entry[:link] %> /
    <% end %>
    <strong><%= @page_name %></strong>
  </nav>
</div>
<div id="body">
  <div id="sidebar">
  </div>
  <div id="content">
    <% if flash[:warning] or flash[:notice] %>
      <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
        <%= flash[:warning] || flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>
